[Unit]
Description=Tuya status -> Telegram
After=network.target

[Service]
Type=simple
User=idesig02
WorkingDirectory=/home/idesig02/helgamade.com/svitlobot
Environment=PATH=/home/idesig02/helgamade.com/svitlobot/venv/bin
ExecStart=/home/idesig02/helgamade.com/svitlobot/venv/bin/python main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
